body {
    background-color: aquamarine;
}

.paragraph {
    max-height: 150px;
    text-align: center;
}

/* @media(min-width: 700px){
    body {
        background-color: #ef0909;
    }
    div::after {
        content: 'BEYOND 900PX';
    }
}

@media(min-width: 950px){
    body{
        background-color: #feaa03;
    }
    div::after {
        content: '>450PX BUT <900PX';
    }
} */

@media(450px <= width <= 750px){
    body {
        background-color: purple;
    }
    div::after{
        content: 'screnn is in b/w 450px & 750px';
        background-image: url(./IMAGES/one\ piece\ logo.jpg);
        height: 50px;
    }
}